// ********************
//
// Base Color Schema
//
// ********************

$color-background: #FFFFFF;
$color-type: #323232;

// ********************
//
// UI Color Scheme
//
// ********************

$color-brand-asset: #F2F2F2;
$color-brand-main: #454545;

//
// Heuristic Colors
//

$color-warning: #D2AB59;
$color-success: #5ABD94;
$color-danger: #903D3D;
