// ********************
//
// Mixin Collection
//
// ********************

//
// Responsive Module Mixins
//

@mixin flex {
  margin: 0 auto;
}

//
// Interface Transition Mixins
//

@mixin border-ease {
  transition:         border-color 0.2s ease-in-out !important;
  -o-transition:      border-color 0.2s ease-in-out !important;
  -ms-transition:     border-color 0.2s ease-in-out !important;
  -moz-transition:    border-color 0.2s ease-in-out !important;
  -webkit-transition: border-color 0.2s ease-in-out !important;
}

@mixin background-ease {
  transition:         background-color 0.2s ease-in-out !important;
  -o-transition:      background-color 0.2s ease-in-out !important;
  -ms-transition:     background-color 0.2s ease-in-out !important;
  -moz-transition:    background-color 0.2s ease-in-out !important;
  -webkit-transition: background-color 0.2s ease-in-out !important;
}
