article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }


img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px;
  letter-spacing: -0.31em;
  word-spacing: -0.43em; }

.grid__item {
  display: inline-block;
  padding-left: 24px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.one-whole {
  width: 100%; }

.one-half, .two-fourths, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

.one-fourth {
  width: 25%; }


.three-fourths {
  width: 75%; }

.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

.one-sixth, .two-twelfths {
  width: 16.666%; }




.five-sixths, .ten-twelfths {
  width: 83.333%; }

.one-eighth {
  width: 12.5%; }


.three-eighths {
  width: 37.5%; }


.five-eighths {
  width: 62.5%; }


.seven-eighths {
  width: 87.5%; }

.one-tenth {
  width: 10%; }


.three-tenths {
  width: 30%; }




.seven-tenths {
  width: 70%; }


.nine-tenths {
  width: 90%; }

.one-twelfth {
  width: 8.333%; }




.five-twelfths {
  width: 41.666%; }


.seven-twelfths {
  width: 58.333%; }




.eleven-twelfths {
  width: 91.666%; }

@media only screen and (max-width: 480px) {
  .palm-one-whole {
    width: 100%; }
  .palm-one-half, .palm-two-fourths, .palm-three-sixths, .palm-four-eighths, .palm-five-tenths, .palm-six-twelfths {
    width: 50%; }
  .palm-one-third, .palm-two-sixths, .palm-four-twelfths {
    width: 33.333%; }
  .palm-two-thirds, .palm-four-sixths, .palm-eight-twelfths {
    width: 66.666%; }
  .palm-one-fourth {
    width: 25%; }
  .palm-three-fourths {
    width: 75%; }
  .palm-one-fifth, .palm-two-tenths {
    width: 20%; }
  .palm-two-fifths, .palm-four-tenths {
    width: 40%; }
  .palm-three-fifths, .palm-six-tenths {
    width: 60%; }
  .palm-four-fifths, .palm-eight-tenths {
    width: 80%; }
  .palm-one-sixth, .palm-two-twelfths {
    width: 16.666%; }
  .palm-five-sixths, .palm-ten-twelfths {
    width: 83.333%; }
  .palm-one-eighth {
    width: 12.5%; }
  .palm-three-eighths {
    width: 37.5%; }
  .palm-five-eighths {
    width: 62.5%; }
  .palm-seven-eighths {
    width: 87.5%; }
  .palm-one-tenth {
    width: 10%; }
  .palm-three-tenths {
    width: 30%; }
  .palm-seven-tenths {
    width: 70%; }
  .palm-nine-tenths {
    width: 90%; }
  .palm-one-twelfth {
    width: 8.333%; }
  .palm-five-twelfths {
    width: 41.666%; }
  .palm-seven-twelfths {
    width: 58.333%; }
  .palm-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .lap-one-whole {
    width: 100%; }
  .lap-one-half, .lap-two-fourths, .lap-three-sixths, .lap-four-eighths, .lap-five-tenths, .lap-six-twelfths {
    width: 50%; }
  .lap-one-third, .lap-two-sixths, .lap-four-twelfths {
    width: 33.333%; }
  .lap-two-thirds, .lap-four-sixths, .lap-eight-twelfths {
    width: 66.666%; }
  .lap-one-fourth {
    width: 25%; }
  .lap-three-fourths {
    width: 75%; }
  .lap-one-fifth, .lap-two-tenths {
    width: 20%; }
  .lap-two-fifths, .lap-four-tenths {
    width: 40%; }
  .lap-three-fifths, .lap-six-tenths {
    width: 60%; }
  .lap-four-fifths, .lap-eight-tenths {
    width: 80%; }
  .lap-one-sixth, .lap-two-twelfths {
    width: 16.666%; }
  .lap-five-sixths, .lap-ten-twelfths {
    width: 83.333%; }
  .lap-one-eighth {
    width: 12.5%; }
  .lap-three-eighths {
    width: 37.5%; }
  .lap-five-eighths {
    width: 62.5%; }
  .lap-seven-eighths {
    width: 87.5%; }
  .lap-one-tenth {
    width: 10%; }
  .lap-three-tenths {
    width: 30%; }
  .lap-seven-tenths {
    width: 70%; }
  .lap-nine-tenths {
    width: 90%; }
  .lap-one-twelfth {
    width: 8.333%; }
  .lap-five-twelfths {
    width: 41.666%; }
  .lap-seven-twelfths {
    width: 58.333%; }
  .lap-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (max-width: 1023px) {
  .portable-one-whole {
    width: 100%; }
  .portable-one-half, .portable-two-fourths, .portable-three-sixths, .portable-four-eighths, .portable-five-tenths, .portable-six-twelfths {
    width: 50%; }
  .portable-one-third, .portable-two-sixths, .portable-four-twelfths {
    width: 33.333%; }
  .portable-two-thirds, .portable-four-sixths, .portable-eight-twelfths {
    width: 66.666%; }
  .portable-one-fourth {
    width: 25%; }
  .portable-three-fourths {
    width: 75%; }
  .portable-one-fifth, .portable-two-tenths {
    width: 20%; }
  .portable-two-fifths, .portable-four-tenths {
    width: 40%; }
  .portable-three-fifths, .portable-six-tenths {
    width: 60%; }
  .portable-four-fifths, .portable-eight-tenths {
    width: 80%; }
  .portable-one-sixth, .portable-two-twelfths {
    width: 16.666%; }
  .portable-five-sixths, .portable-ten-twelfths {
    width: 83.333%; }
  .portable-one-eighth {
    width: 12.5%; }
  .portable-three-eighths {
    width: 37.5%; }
  .portable-five-eighths {
    width: 62.5%; }
  .portable-seven-eighths {
    width: 87.5%; }
  .portable-one-tenth {
    width: 10%; }
  .portable-three-tenths {
    width: 30%; }
  .portable-seven-tenths {
    width: 70%; }
  .portable-nine-tenths {
    width: 90%; }
  .portable-one-twelfth {
    width: 8.333%; }
  .portable-five-twelfths {
    width: 41.666%; }
  .portable-seven-twelfths {
    width: 58.333%; }
  .portable-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 1024px) {
  .desk-one-whole {
    width: 100%; }
  .desk-one-half, .desk-two-fourths, .desk-three-sixths, .desk-four-eighths, .desk-five-tenths, .desk-six-twelfths {
    width: 50%; }
  .desk-one-third, .desk-two-sixths, .desk-four-twelfths {
    width: 33.333%; }
  .desk-two-thirds, .desk-four-sixths, .desk-eight-twelfths {
    width: 66.666%; }
  .desk-one-fourth {
    width: 25%; }
  .desk-three-fourths {
    width: 75%; }
  .desk-one-fifth, .desk-two-tenths {
    width: 20%; }
  .desk-two-fifths, .desk-four-tenths {
    width: 40%; }
  .desk-three-fifths, .desk-six-tenths {
    width: 60%; }
  .desk-four-fifths, .desk-eight-tenths {
    width: 80%; }
  .desk-one-sixth, .desk-two-twelfths {
    width: 16.666%; }
  .desk-five-sixths, .desk-ten-twelfths {
    width: 83.333%; }
  .desk-one-eighth {
    width: 12.5%; }
  .desk-three-eighths {
    width: 37.5%; }
  .desk-five-eighths {
    width: 62.5%; }
  .desk-seven-eighths {
    width: 87.5%; }
  .desk-one-tenth {
    width: 10%; }
  .desk-three-tenths {
    width: 30%; }
  .desk-seven-tenths {
    width: 70%; }
  .desk-nine-tenths {
    width: 90%; }
  .desk-one-twelfth {
    width: 8.333%; }
  .desk-five-twelfths {
    width: 41.666%; }
  .desk-seven-twelfths {
    width: 58.333%; }
  .desk-eleven-twelfths {
    width: 91.666%; } }

html {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 1.125em;
  line-height: 1.5em; }

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.navbar {
  background: #f2f2f2;
  padding: 20px 0; }
  .navbar .logo {
    display: inline; }
  .navbar nav {
    display: inline;
    float: right; }
  .navbar ul {
    display: inline; }
  .navbar li {
    display: inline; }

.btn {
  border: 3px solid #454545;
  background: #454545;
  font-size: 90%;
  padding: 4px 18px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out !important;
  -o-transition: background-color 0.2s ease-out !important;
  -ms-transition: background-color 0.2s ease-out !important;
  -moz-transition: background-color 0.2s ease-out !important;
  -webkit-transition: background-color 0.2s ease-out !important; }
  .btn:hover {
    background: #121212; }
  .btn:active {
    border-color: #121212; }
  .btn:focus {
    outline: none; }

input {
  border: 1px solid #f2f2f2;
  padding: 6px;
  font-size: 90%;
  width: 50%;
  transition: border-color 0.2s ease-out !important;
  -o-transition: border-color 0.2s ease-out !important;
  -ms-transition: border-color 0.2s ease-out !important;
  -moz-transition: border-color 0.2s ease-out !important;
  -webkit-transition: border-color 0.2s ease-out !important; }
  input:hover {
    border-color: #d8d8d8; }
  input:focus {
    outline: 1px solid #bfbfbf;
    outline-offset: 0;
    border: 1px solid #bfbfbf; }

fieldset {
  border: none;
  margin: 10px 0;
  padding: 0; }
  fieldset .input {
    margin: 2px 0; }

a {
  text-decoration: none;
  color: #454545; }
  a:hover {
    color: #2c2c2c; }

.menu {
  color: #f2f2f2; }

footer {
  background: #f2f2f2;
  padding: 2em 0;
  margin: 2em 0 0 0; }

table {
  text-align: center;
  width: 100%; }
  table thead {
    background: #f2f2f2; }
    table thead tr th {
      border: 1px solid #f2f2f2; }
  table tbody tr td {
    border: 1px solid #f2f2f2; }
