// ********************
//
// Base Project Settings
//
// ********************

//
// Oh. That thing.
//

*, *::before, *::after {
  box-sizing: border-box;
}

//
// Base Typographic Weights
//

$type-light: 100;
$type-regular: 400;
$type-bold: 600;

//
// Base Typography
//

$base-type: 'Helvetica Neue', sans-serif;
$base-type-weight: $type-regular;
$base-type-size: 1.125em;

// ********************
//
// Import All Modules
//
// ********************

@import "modules/all";
