// Base Imports //

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-t: 'Open Sans', helvetica, sans-serif;
$base-t-w: $regular;
$base-t-s: 1.125em;
$base-t-lh: 1.5em;

// Headings
$base-t-w-b: $bold;

@import "../modules/all";
