// ********************
//
// Input Styles
//
// ********************

.input {
  border: 1px solid $color-brand-asset;
  padding: 6px;
  font-size: 90%;
  width: 50%;

  &:hover {
    border-color: darken($color-brand-asset, 10%);
    @include border-ease;
  }

  &:focus {
    outline: 1px solid darken($color-brand-asset, 20%);
    border: 1px solid darken($color-brand-asset, 20%);
    @include border-ease;
    outline-offset: 0;
  }
}

// ********************
//
// Input Collections
//
// ********************

.fieldset {
  border: none;
  margin: 10px 0;
  padding: 0;

  .input {
    margin: 2px 0;
  }
}
