.navbar {

  background: $asset-c;
  padding: 20px 0;

  .logo {
    display: inline;
  }

  nav {
    display: inline;
    float: right;
  }

  ul {
    display: inline;
  }

  li {
    display: inline;
  }

}
