// ********************
//
// Navigation Style
//
// ********************

.navbar {

  background: $color-brand-asset;
  padding: 20px 0;

  // Logo Element
  .navbar--logo {
    display: inline;
  }

  // Navigation Element
  .navbar--nav {
    display: inline;
  }

  ul {
    display: inline;
  }

  li {
    display: inline;
  }

}
