// ========================================
//
// Master Partial settings
//
// ========================================

// Colors
// ========================================
$color-base: #434343;
$color-accent: #A0AAB0;

// Font Colors
$color-type-base: $color-base;