// ********************
//
// Table Style
//
// ********************

.table {
  text-align: center;
  width: 100%;

  .thead {
    background: $color-brand-asset;

    .tr {

      .th {
        border: 1px solid $color-brand-asset;
      }
    }
  }

  .tbody {

    .tr {

      .td {
        border: 1px solid $color-brand-asset;
      }
    }
  }
}
